---
title: Lauterbrunnen Valley Music Festival
---
<div class="wrapper">
  <!-- Navbar -->
  <nav class="nav">
    <ul>
      <li><a onclick="$('.lineup').animatescroll();">Lineup</a></li>
      <li><a onclick="$('.tickets').animatescroll();" id="tickets">Tickets</a></li>

    </ul>
  </nav>
  <!-- End of navbar -->

  <%= image_tag "hero-small.png", class: "hero", id: "header" %>

  <div class="hero-logo">
    <%= image_tag "logo-text-white.png" %>
  </div>


  <div class="nav middle-nav">
    <ul>
      <li><a onclick="$('.lineup').animatescroll();">Lineup</a></li>
      <li><a onclick="$('.experience').animatescroll();">Experience</a></li>
      <li><a onclick="$('.tickets').animatescroll();">Tickets</a></li>
      <li><a onclick="$('.directions').animatescroll();">Getting Here</a></li>
      <li><a onclick="$('.footer').animatescroll();">About</a></li>
    </ul>
  </div>

<div class="container">
  <section class="info-card">
    <%= image_tag "icon.png", class: "icon" %><h1>Lauterbrunnen Valley Music Festival</h1><%= image_tag "icon.png", class: "icon" %>
      <h4>02 June 2017 - 04 June 2017</h4>
      <h4>Männlichen, Switzerland</h4>
  </section>

  <section class="section-body lineup">
    <h1 class="section-title">Lineup</h1>
    <h3 class="section-title section-subtitle">Friday 02 June 2017</h3>
    <p class="artists">
      <span class="biggest">
        Lana Del Rey  <span class="bullet">&#9651;</span>
        The Weeknd  <span class="bullet">&#9651;</span>
        Years & Years  <span class="bullet">&#9651;</span>

      </span>
      <span class="bigger">
        The 1975  <span class="bullet">&#9651;</span>
        ZAYN  <span class="bullet">&#9651;</span>
        Tegan and Sara  <span class="bullet">&#9651;</span>
        Grimes  <span class="bullet">&#9651;</span>
        Jarryd James  <span class="bullet">&#9651;</span>
        Alina Baraz  <span class="bullet">&#9651;</span>
        Diplo  <span class="bullet">&#9651;</span>
        Calvin Harris  <span class="bullet">&#9651;</span>
        Lil' Wayne  <span class="bullet">&#9651;</span>
        Post Malone  <span class="bullet">&#9651;</span>
        Marina and the Diamonds  <span class="bullet">&#9651;</span>
        Sleater-Kinney <span class="bullet">&#9651;</span>
      </span>
      <span class="big">
        BØRNS  <span class="bullet">&#9651;</span>
        Underoath  <span class="bullet">&#9651;</span>
        Emery  <span class="bullet">&#9651;</span>
        Colony House  <span class="bullet">&#9651;</span>
        James Vincent McMorrow  <span class="bullet">&#9651;</span>
        DJ Khaled  <span class="bullet">&#9651;</span>
        Demi Lovato  <span class="bullet">&#9651;</span>
        Nick Jonas  <span class="bullet">&#9651;</span>
        Hanson  <span class="bullet">&#9651;</span>
        Father John Misty  <span class="bullet">&#9651;</span>
        James Bay  <span class="bullet">&#9651;</span>
        Flores  <span class="bullet">&#9651;</span>
      </span>
    </p>

    <h3 class="section-title section-subtitle">Saturday 03 June 2017</h3>
    <p class="artists">
      <span class="biggest">
        Justin Bieber  <span class="bullet">&#9651;</span>
        Rihanna  <span class="bullet">&#9651;</span>
        Banks  <span class="bullet">&#9651;</span>

      </span>
      <span class="bigger">
        The Chainsmokers <span class="bullet">&#9651;</span>
        St. Lucia  <span class="bullet">&#9651;</span>
        James Blake <span class="bullet">&#9651;</span>
        Capital Cities  <span class="bullet">&#9651;</span>
        Flume  <span class="bullet">&#9651;</span>
        M83  <span class="bullet">&#9651;</span>
        Zedd  <span class="bullet">&#9651;</span>
      </span>

      <span class="big">
        The Civl Wars  <span class="bullet">&#9651;</span>
        Frances  <span class="bullet">&#9651;</span>
        Gallantis  <span class="bullet">&#9651;</span>
        Glass Animals  <span class="bullet">&#9651;</span>
        Odesza  <span class="bullet">&#9651;</span>
        Tove Lo  <span class="bullet">&#9651;</span>
        Phantogram  <span class="bullet">&#9651;</span>
        Purity Ring <span class="bullet">&#9651;</span>
        Rudimental  <span class="bullet">&#9651;</span>
        Troye Sivan  <span class="bullet">&#9651;</span>
        Two Door Cinema Club  <span class="bullet">&#9651;</span>
        ZHU  <span class="bullet">&#9651;</span>
        FKA Twigs  <span class="bullet">&#9651;</span>
      </span>
    </p>

    <h3 class="section-title section-subtitle">Sunday 04 June 2017</h3>
    <p class="artists">
      <span class="biggest">
        Beyonce  <span class="bullet">&#9651;</span>
        Sam Smith  <span class="bullet">&#9651;</span>
        Ariana Grande <span class="bullet">&#9651;</span>

      </span>
      <span class="bigger">
        Selena Gomez  <span class="bullet">&#9651;</span>
        James Blake  <span class="bullet">&#9651;</span>
        The Chainsmokers  <span class="bullet">&#9651;</span>
        Calvin Harris  <span class="bullet">&#9651;</span>
        Sir Sly <span class="bullet">&#9651;</span>
      </span>

      <span class="big">
        Mac Miller  <span class="bullet">&#9651;</span>
        Lizzo  <span class="bullet">&#9651;</span>
        Låpsley  <span class="bullet">&#9651;</span>
        CHVRCHES  <span class="bullet">&#9651;</span>
        Kiiara  <span class="bullet">&#9651;</span>
        Broods  <span class="bullet">&#9651;</span>
        Hozier  <span class="bullet">&#9651;</span>
        Halsey <span class="bullet">&#9651;</span>
        Grouplove  <span class="bullet">&#9651;</span>
        Chet Faker  <span class="bullet">&#9651;</span>
        Andrew Belle  <span class="bullet">&#9651;</span>
        Ingrid Michaelson  <span class="bullet">&#9651;</span>
        Greg Laswell  <span class="bullet">&#9651;</span>
      </span>
    </p>
  </section>

  <section class="section-body experience">
    <h1 class="section-title">Experience</h1>
      <table class="icon-set">
        <tr>
          <th><%= image_tag "music-icon.png", class: "icon-graphic" %></th>
          <th><%= image_tag "tent-icon.png", class: "icon-graphic" %></th>
          <th><%= image_tag "compass-icon.png", class: "icon-graphic" %></th>
        </tr>
        <tr class="description description-title">
          <td>Music</td>
          <td>Camping</td>
          <td>Nature</td>
        </tr>
        <tr class="description">
          <td>Three days of incredible music</td>
          <td>Luxury glamping in the alps</td>
          <td>World class hiking trails</td>
        </tr>
      </table>
  </section>

  <section class="section-body tickets">
    <h1 class="section-title">Tickets</h1>
    <table class="icon-set ticket-table">
      <tr class="description description-title">
        <th>GA</th>
        <th>VIP</th>
      </tr>
      <tr class="prices">
        <td>
          <h2>3-Day GA Ticket</h2>
          <h1 class="biggest">$350</h1>
          <h2>1-Day GA Ticket</h2>
          <h1 class="biggest">$120</h1>
            <div class="modal-container">
              <div id="ga-details" class="modal">
                <h4>General Admission tickets grant access to the festival.</h4>
              </div>
            </div>
             <a href="#ga-details" class="myBtn" rel="modal:open">Details</a>
        </td>
        <td>
          <h2>Super VIP Ticket</h2>
          <h1 class="biggest">$1050</h1>
          <h2>VIP Ticket</h2>
          <h1 class="biggest">$675</h1>
            <div class="modal-container">
              <div id="vip-details" class="modal">
                <h4>VIP tickets grant access to the festival, private bathroom facilities,
                    food vendor tokens, VIP Lounge, and front row access.</h4>
                <h4>Super VIP tickets grant access to the festival,
                  meet-and-greets with all artists, on-site concierge,
                  backstage open bar, side-stage access, private bathroom facilities,
                  festival merchandise pack, food vendor tokens, VIP Lounge, and
                  front row access.</h4>
              </div>
            </div>
             <a href="#vip-details" class="myBtn" rel="modal:open">Details</a>

        </td>
      </tr>
    </table>
  </section>

  <section class="section-body directions">
    <h1 class="section-title">Getting Here</h1>

    <table>
      <tr class="description-title">
        <th class="map-table">Map</th>
        <th class="directions-table">Directions</th>
      </tr>
      <tr>
        <td><div id="googleMap" style="width:500px;height:380px;"></div></td>

        <script>

        function initMap() {
        var myLatLng = {lat: 46.6181951, lng: 7.9379647};

        var map = new google.maps.Map(document.getElementById('googleMap'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Lauterbrunen Valley Music Festival'
        });

        map.addListener('center_changed', function() {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(function() {
            map.panTo(marker.getPosition());
          }, 3000);
        });

        marker.addListener('click', function() {
          map.setZoom(18);
          map.setMapTypeId(google.maps.MapTypeId.HYBRID)
          map.setCenter(marker.getPosition());
        });
      }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuM011aO4o9jwNBBWGwqaRRjcg5c4bPWw&callback=initMap"
        async defer></script>





        <td>
          <h2>By Plane</h2>
          <h4>Fly into Zürich Airport</h5>
          <h2>By Train</h2>
          <h4>Take a SBB Train to Interlaken, transfer trains to a Lauterbrunnen bound train.
              You can take the cable car from Wengen to Männlichen, or the gondola from Grindelwald Grund to
              Männlichen. Wengen and Grindelwald Grund can be reached by train.</h4>
          <h2>By Taxi</h2>
          <h4>Make your way to Interlaken or Lauterbrunnen and ask the taxi driver to take you to Männlichen.</h4>
        </td>
      </tr>
    </table>
  </section>

</div>
  <!-- For sticky footer -->
  <div class="push"></div>


  <footer class="footer">
    <ul>
      <li class="left">
        <%= image_tag "logo-text-white.png", class: "bottom-logo" %>
        <div class="countdown-container">
          <h3 id="countdown"></h3>
        </div>
      </li>
      <li class="right">
        <h2>About this site</h2>
        <h4 class="right-content">Languages/Tecnologies used:<br> Ruby, Middleman, jQuery, JavaScript, Google Maps API, HTML5, CSS3, Adobe Lightroom, Adobe Photoshop</h4>
        <h4 class="right-content">This site was hard-coded by myself without the use of a theme or even a CSS framework</h4>
      </li>
    </ul>
    <ul>
      <li>
        <h4 class="copyright">COPYRIGHT © 2016, WEBSITE, GRAPHIC DESIGN, AND PHOTOGRAPHY BY <a href="https://hanna-taylor.com">HANNA TAYLOR</a></h4>
        <div class="social">
          <a href="https://github.com/hannataylor"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://hanna-taylor.com"><i class="fa fa-laptop" aria-hidden="true"></i></a>
          <a href="https://linkedin.com/in/hannataylor"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://twitter.com/hanna__taylor"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://instagram.com/hanna__taylor"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </li>
    </ul>
  </footer>
</div><!-- End wrapper -->
