---
title: Lauterbrunnen Valley Music Festival
---
<div class="wrapper">
  <%= partial "partials/_nav" %>
  <%= partial "partials/_header" %>
  <%= partial "partials/_middlenav" %>

  <div class="container">
    <%= partial "partials/_infocard" %>
    <%= partial "partials/_lineup" %>
    <%= partial "partials/_experience" %>
    <%= partial "partials/_tickets" %>
    <%= partial "partials/_directions" %>
  </div>
  <!-- For sticky footer -->
    <div class="push"></div>

  <%= partial "partials/_footer" %>
  <%= partial "partials/_mobilefooter" %>
</div><!-- End wrapper -->
